* {
    font-family: quicksand;
    padding: 0;
    margin: 0;
    color: #356b09;
    line-height: 1.5;
}

body {
    display: flex;
    min-height: 100vh; /* body-laatikko täyttää koko näytön, jotta footer tulee alas */
    flex-direction: column; /* osiot (main ja footer) järjestyvät allekkain */
    text-align: center;
}

header {
    width: 100%;
    float: left;
    background: #ffff00;
}

.ilmoituspalkki {padding: 1px; font-weight: bold;}

.kuva_tekstilla {
    background-image: url(./kuvat/header_karviaiset.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kuvan_textbox {
    background-color: rgba(255,255,0,0.8);
    text-align: center;
    width: 200px;
    padding: 15px;
    line-height: 1;
}

.pikkuteksti {font-size:0.8em;}

/* ///////////////////////////////////////////////////////////////////////// */
/* NAVIGOINTIPALKIN MUOTOILU ALKAA */
#etusivulinkki {
    font-weight: bold;
    float: left;
    padding: 15px 17px;
    text-decoration: none;
    background-color: inherit;
    color: inherit;
}

#piilonappi {
    position: absolute;
    visibility: hidden;
    z-index: -102;
}

.menun-nayttonappi, .menun-piilotusnappi {
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin-top: 0;
}

.menun-nayttonappi {
    padding: 0px 15px;
    float: right;
    text-align: right;
    width: 20px;
}
.menun-nayttonappi i {line-height: 50px;}

.menun-piilotusnappi {
    position: absolute;
    top: -50px; /* sijoitetaan päävalikon ylämarginaaliin eli
        etusivulinkin viereen eli hampurilaiskuvakkeen päälle */
    background-color: #ffff00; /* jotta peittää hampurilaiskuvakkeen */
    right: 0px;
    width: 25px;
    padding: 10px 10px 10px 15px;
    text-align: center;
}

.paavalikko li a:hover, .ylaotsikko:hover, 
.menun-nayttonappi:hover, .menun-piilotusnappi:hover,
#etusivulinkki:hover {
    background-color: #ffff7A;
}

/* muotoillaan mobiilinäytön valikko, 
   joka tulee esille hampurilaisikonia klikattaessa */
.paavalikko {
    display: none;
    margin-top: 50px; /* jätetään tilaa, jotta etusivulinkki näkyy */
    float: right;
    position: absolute; /* kivempi leveällä näytöllä kuin open käyttämä "fixed" */
    width: 100%;
    background: #ffff00;
}

.paavalikko li {list-style: none;} /* luettelomerkit pois valikosta*/

/* muotoillaan valikon linkkejä ja pudotusvalikon yläotsikkoa */
.paavalikko li a, .ylaotsikko {
    text-decoration: none;
    padding: 15px 15px;
    text-align: left;
    display: block;
}

/* sisennetään pudotusvalikon linkit, jotta erottuvat mobiilinäytöllä */
.alavalikko li a {
    text-indent: 25px;
}

/* valikko näkyviin, kun hampurilaisikonia klikataan */
#piilonappi:checked ~ nav .paavalikko {display:block;}

/* näytetään päätason valikko vaakarivillä, jos näyttö on tarpeeksi iso */
@media screen and (min-width:670px) {
    .paavalikko  {
        left: auto;
        margin-top: 0px; /* nyt ei tarvita yläpuolelle tilaa etusivulinkille */
        right: 0px;
        width: auto;
        display: block;
    }
    .paavalikko li {
        float: left;
        position: relative; /* jotta alavalikko saadaan asemoitua oikein */
    }
    .paavalikko li a {text-align: center;}
    .alavalikko li a {text-indent: 0px;}
    .menun-nayttonappi, .menun-piilotusnappi {display:none;}
    .alavalikko {
        position: absolute; /* irrottaa alavalikon kolumniksi päävalikosta */
        background-color: #ffff00;
        z-index: 20; /* alavalikko näkyy sivun sisällön päällä */
        width: auto; /* leveys leveimmän valikkorivin mukaan */
        white-space: nowrap ; /* pidetään elementit yksirivisinä */
        display: none; /* piilotetaan, kun yläotsikko ei ole valittuna */
    }
    /* kun kursori on yläotsikon päällä, näytetään alavalikko */
    .pudotusvalikko:hover > .alavalikko {
        display: block;
    }
} /* NAVIGOINTIPALKIN MUOTOILU PÄÄTTYY */
/* ///////////////////////////////////////////////////////////////////////// */

main {
    flex: 1; /* footer ei tule mainin päälle */
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex; /* myös mainin sisältö flex-rakenteella */
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #ffff00;
    text-align: center;
    line-height: 1;
    margin-top: 20px;
}
footer > section {padding: 15px;}
footer section::first-line, footer address::first-line {font-weight: bold;}

/* footerin somekuvakkeiden muotoilu */
footer .fa {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    border-radius: 50%; /* pyöreät taustat */
    padding: 5px;
    width: 25px;
    margin-top: 5px;
}
footer .fa-facebook {background-color: #3B5998;}
footer .fa-instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
        radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), 
        radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), 
        radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), 
        radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), 
        radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), 
        radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
        linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

address {font-style: normal;} /* ei kursivointia yhteystietoihin */

main > section {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-family: "Great Vibes";
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.peruskappale {
    margin: 10px 10vw 10px 10vw;
}

.uutinen {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 15px;
    padding: 15px;
    border: none;
    background-color: #ffff00;
}

.myymalakortti {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 3px solid #356B09;*/
    margin-bottom: 15px;
    background-color: #ffff00; 
}
.myymalakortti address {margin:2.5vw;}

article .pikkuteksti {font-weight: bold;}

article img {
    float: left;
    height:250px;
    width:auto;
    margin: 2.5vw;
    display: none; /* piilotetaan kuva kapeilla näytöillä */
}

/* ///////////////////////////////////////////////////////////////////////// */
/* LOMAKKEEN MUOTOILU ALKAA */
fieldset {  
    /*border: 1px dashed #696969; /*1px solid #356B09;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
                0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
    border: none;
    background-color: #ffff7A; 
    padding: 3%;
    margin: 3%;
}

label {
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    color: #696969;
    cursor: pointer;
}
label > .pikkuteksti {color: inherit;}

input[type="text"], input[type="password"], select, textarea {
    font-size: 1em;
    color: #696969;
    width: 90%;
    border: 2px inset #ffff7A; /* 1px solid #356B09;*/
    border-radius: 4px;
    padding: 0px 5px;
    outline: none; /* poistaa selaimen lisäämän sinisen kehyksen */
    cursor: pointer;
}
textarea {height: 150px; resize: none;}
select {background-color: white; /*#FFFF7A;*/ width:calc(90% + 12px); padding: 2px;}
select option {color: #696969;}

/* erilainen reunus, kun hiiri on kentän päällä tai kenttä on valittuna */
input[type="text"]:focus, input[type="password"]:focus, 
input[type="text"]:hover, input[type="password"]:hover, 
select:focus, textarea:focus, select:hover, textarea:hover {
    border: 2px solid #ffff00; /*border-width: 2px;*/
}

/* miksi nämä ei toimi??
select option:hover {background-color:#FFFF00; color: #696969;}
input[type="radio"]:focus {color: #356B09;} 
input[type="checkbox"]:focus {border: 2px solid #FFFF00;}*/

.radionappikysymys {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.radionappikysymys * { /* kaikille elementeille radionappikysymyksen sisällä */ 
    margin-top: 5px;
}
.radionappikysymys label {cursor: default;}
.radionappikysymys .radionappisailio {cursor: pointer;}

.radionappisailio, .checkbox_sailio { /* valmisteluita omalle radionapille ja omalle checkboxille */
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}
.radionappisailio input, .checkbox_sailio input { /* piilotetaan default-radionappi ja -checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.oma_radionappi, .oma_checkbox { /* perusmuotoilut omalle radionapille ja checkboxille */
    position: absolute;
    height: 17px;
    width: 17px;
    background-color: white;
    border: 2px inset #FFFF7A;
}
.oma_radionappi { /* muotoillaan oma radionappi tarkemmin */
    left: 25%;
    top: -5px;
    border-radius: 50%; 
}
.oma_checkbox { /* muotoillaan oma checkbox tarkemmin */
    left: 10%;
    border-radius: 4px;
}
.keskemmalle {
    left: 5%;
}
.radionappisailio:hover .oma_radionappi, 
.checkbox_sailio:hover .oma_checkbox { /* kun kursori labelilla */
    border: 2px solid #FFFF00;
}
.radionappisailio input:checked ~ .oma_radionappi { /* kun radionappi valittu */
    background-color: #FFFF00;
    border: 2px solid #FFFF00;
}
.checkbox_sailio input:checked ~ .oma_checkbox { /* kun checkbox rastittu */
    background-color: #FFFF00;
}
.oma_radionappi:after { /* luodaan oma pallukka radionappiin */
    content: "";
    position: absolute;
    display: none; /* ei näy, kun ei ole valittu */
    left: 3px; /* sijainti */
    top: 3px;
    width: 12px; /* luodaan ensin suorakulmio */ 
    height: 12px;
    border-radius: 50%; /* joka pyöristetään ympyräksi */
    background-color: #356b09;
}
.oma_checkbox:after { /* luodaan oma rasti */
    content: "";
    position: absolute;
    display: none; /* ei näy, kun ei ole rastittu */
    left: 5px; /* sijainti */
    height: 10px; /* rastin pohjana on oikeastaan suorakulmio */
    width: 5px;
    border: solid #356b09; /* suorakulmiossa on reunat */
    border-width: 0 3px 3px 0; /* reunoista näkyy vain kaksi */
    -webkit-transform: rotate(45deg); /* lopuksi laatikko käännetään */
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);    
}
.radionappisailio input:checked ~ .oma_radionappi:after,
.checkbox_sailio input:checked ~ .oma_checkbox:after {
    display: block; /* näytetään pallukka tai rasti, kun valittuna */
}

input[type="submit"] {
    font-size: 1em;
    font-weight: bold;
    display: block;
    width: 120px;
    padding: 3px;
    margin: 25px auto;
    cursor: pointer;
    color: /*#696969; */ #356b09;
    background-color: #FFFF00; /* #FFFF7A; */
    border-color: #ffff7a;
    border-radius: 4px;
}
input[type="submit"]:hover {background-color: #356b09; color: #FFFF00}

.lomakevirhe, .lomake_ok {
    width: 90%;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 5px;
    cursor: default;
}
.lomake_ok {
    color: #356b09;
    background-color: #b0ff94;
    border: 1px solid #b0ff94;
}
.lomakevirhe {
    color: #ad0e13;
    background-color: #ffbf99; /*#FFC5AC*/
    border: 1px solid #ffbf99;
}
.levennettava {
    width: 97%;
    margin-top: 5px;
}
/* LOMAKKEEN MUOTOILU PÄÄTTYY */
/* ///////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////// */
/* RESPONSIIVISUUSHOMMAT ALKAVAT TÄSTÄ (paitsi navigointipalkki ylempänä jo) */
@media screen and (min-width:450px) {
    /* myymäläkorttien kuvat näkyviin: */
    .myymalakortti img {display:block;}
    /* kiinnitetään lomakkeen kenttien leveys: */
    label, input[type="text"], input[type="password"], textarea,
        .radionappikysymys, .lomakevirhe, .lomake_ok {width: 360px;}
    select {width: 372px;}
    .keskemmalle {left: 20%;}
    fieldset {padding: 10px 20px; margin: 0px auto 20px auto;}
} 

@media screen and (min-width:570px) {
    .myymalakortti {margin-left: 10vw; margin-right: 10vw;}
    fieldset {padding: 20px 40px;}
    input[type="submit"] {margin-top: 30px;}
} 
 
@media screen and (min-width:730px) {
    .myymalakortti {margin-left: auto; margin-right: auto; width: 600px;}
    .keskemmalle {left: 21%;}
}

@media screen and (min-width:900px) {
    body {font-size: 1.08em;}
    h1 {font-size: 3.15em;}
    .kuva_tekstilla {height: 250px;}
    .uutinen, .peruskappale {margin-left: 15vw; margin-right: 15vw;}
    .myymalakortti {width: 650px;}
    article img {height: 275px;}
    label, input[type="text"], input[type="password"], textarea,
        .radionappikysymys, .lomakevirhe, .lomake_ok {width: 400px;}
    select {width: 412px;}
    .keskemmalle {left: 22%;}
    footer .fa {font-size: 30px; padding: 7px; width: 30px;}
}
@media screen and (min-width:1150px) {
    body {font-size: 1.14em;}
    h1 {font-size: 3.2em;}
    .kuva_tekstilla {height: 300px;}
    .uutinen, .peruskappale {margin-left: 20vw; margin-right: 20vw;}
    .myymalakortti {width: 700px;}
    article img {height: 300px;}
    label, input[type="text"], input[type="password"], textarea,
        .radionappikysymys, .lomakevirhe, .lomake_ok {width: 440px;}
    select {width: 452px;}
    .keskemmalle {left: 23%;}
}

